<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>测试html</title>
	<link rel='stylesheet' href='/css/test.css' />
	<script src="js/jquery.js"></script>
	<script src="js/test.js"></script>
</head>
<body>
	<div>欢迎<%= title%>
		<a href="javascript:;">a标签</a>
		<p>测试下啥啥啥</p>
	</div>
	<script>
		$(function(){
			getMsg();
		})
		function getMsg(){
			$.ajax({
				url:'/devapi/app/borrow/typeBorrow.html',
				type:'GET',
				dataType:'json',
				success:function(rslt){
					console.log(rslt);
				},
				error:function(){}
			})
		}
	</script>
</body>
</html>