<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><%= title%></title>
	<script src="/js/jquery.js"></script>
	<script src="/js/cmn.js"></script>
	<script src="/js/login.js"></script>
</head>
<body>
	<input type="text" id="J_name" /></br>
	<input type="password" id="J_pwd" /></br>
	<input type="text" name="validCode" id="validCode" maxlength="4" tabindex="3" autocomplete="off"  placeholder="请输入图形验证码"/>
	<img src="/api/validimg.html" title="点击更换验证码" class="validcode-img" onclick="this.src='/api/validimg.html?t=' + Math.random();" id="imgCode" />
	<input type="button" id="J_submit" value="登录" />
</body>
</html>